/***   General   ***/
  
* {
    font-family: 'Raleway';
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    font-size: var(--font-size-base);
}

:root{
--main-blue: #0065FC;
--light-blue: #DEEBFF;
--bg-grey: #F2F2F2;
--font-size-base: 15px;
--font-size-09: calc(var(--font-size-base)*.9);
--font-size-12: calc(var(--font-size-base)*1.2);
--font-size-15: calc(var(--font-size-base)*1.5);
--font-size-18: calc(var(--font-size-base)*1.8);
}

.blue{
    color: var(--main-blue);
}

.grey{
    color: var(--bg-grey);
}

body{
    font-size: var(--font-size-base);
    margin: 0 auto;
    max-width: 1400px;
}


h2{
    font-size: var(--font-size-12);
    font-weight: bold;
}

h3{
    font-size: var(--font-size-base);
    font-weight: bold;
}

p{
    margin: 10px 0;
}

a {
    text-decoration: none;
    color:inherit;
}

a:visited {
    color:inherit;
}

li{
    list-style: none;
}

textarea,
input {
    border-radius: 0;
    background:none;
    border: none;
    outline: none;
    -webkit-appearance: none;
}

/***   header   ***/

header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 100px;
}

header #logo{
    height: 50px;
    width: 100px;
    margin: auto 50px;
}

#logo img{
    height: 100%;
    width: 100%;
    -o-object-fit:contain;
       object-fit:contain; 
}

nav{
    display: flex;
    height:100%;
}
nav ul{
    display: flex;
    width:100%;
    height:100%;
    justify-content: space-around;
}

nav li{
    display: flex;
    width: 250px;
    font-size: var(--font-size-12);
    height:100%;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    border-top: 4px solid var(--bg-grey);
}

/***   main   ***/

main{
    padding:0 30px;
}

#main-block{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin: 30px 0;
}

/***   Titre   ***/

h1{
    margin: 15px 10px;
}

h1 .main-title{
    font-size: var(--font-size-15);
    font-weight: bold;
}

h1 .main-subtitle{
    font-size: var(--font-size-base);
    font-weight: normal;
}

/***   Recherche   ***/

#search{
    font-size: var(--font-size-12);
    width: 450px;
    height: 48px;
    margin: 25px 10px;
    align-items: center;
    justify-content:center;
    border-radius: 13px;
    overflow: hidden;
}

#search-box{
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content:space-between;
    border:2px solid var(--bg-grey);
}

#map-icon{
    aspect-ratio: 1;
    height:  calc(100% + 4px);
    font-size: var(--font-size-12);
    background-color: var(--bg-grey);
    line-height: 44px;
    text-align: center;
    vertical-align: middle;
}

#search-box input{
    width: 240px;
    height: 80%;
    line-height: 44px;
    vertical-align: middle;
    padding: 5px;
    font-weight: bold; 
    margin: 0 10px;
}

#search-box input:focus{
    border-bottom: 3px solid var(--main-blue);
}

#search-btn{
    position: relative;
    right: -2px;
    width: 140px;
    height: calc(100% + 4px);
    background-color: var(--main-blue);
    cursor: pointer;
    z-index: 99;
}

#btn-text{
    line-height:40px;
    font-weight: bold;
    color:#fff;
    vertical-align: middle;
}

#btn-icon{
    color:#fff;
    display: none;
}

/***   Filtre   ***/

#filter{
    display: flex;
    flex-flow: row wrap;
    font-size: var(--font-size-12);
    font-weight: bold;
    margin: 30px 10px;
}

.filter-title{
    line-height: 48px;
    vertical-align: middle;
    padding: 0 40px 0 0;
}

.filter-items{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    vertical-align: middle;
    gap: 20px;
}

.filter-item{
    display: flex;
    flex-flow: row nowrap;
    margin-right:20px;
}

.filter-item a{
    display: flex;
    position: relative;
    height: 48px;
    border: 2px solid var(--bg-grey);
    border-radius: 24Px;
    line-height: 44px;
    align-items: center;
}

.filter-item i{
    height: calc(100% + 4px);
    position: relative;
    left:-2px;
    aspect-ratio: 1;
    font-size: var(--font-size-12);
    background-color: var(--light-blue);
    color: var(--main-blue);
    text-align: center;
    line-height: 48px;
    vertical-align: middle;
    border-radius: 24px;
    overflow: hidden;

}

.filter-item span{
    padding: 0 20px 0 13px;
    height: 100%;
    line-height: 40px;
    font-size: var(--font-size-base);
    font-weight: bold;
    vertical-align: middle;
}

/***   Info   ***/

#info{
    font-size: var(--font-size-base);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 20px 0;
}

#info i{
    color: var(--main-blue);
    height:24px;
    aspect-ratio: 1;
    text-align: center;
    line-height: 24px;
    vertical-align: middle;
    border: 1px solid var(--bg-grey);
    border-radius: 12px;
    margin: 10px;
}

#info p{
    font-weight: lighter;
    vertical-align: middle;
}

/***   commun   ***/

section article{
    background: #fff;
    border: 4px solid #fff;
    border-radius: 20px;
    overflow: hidden;
    /* cursor: pointer; */
}

.section-tittle {
    display: flex;
    justify-content: space-between;
}

.item-text{
    display: flex;
    flex-flow: column nowrap;
    position: relative;
}

.subtitle{
    font-size: var(--font-size-09);
}

.note{
    width: 75px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 5px;
}

.note i{
    font-size: 12px;
    line-height:12px;
    aspect-ratio: 1;
}

/***   hebergements   ***/

#hebergements{
    background: var(--bg-grey);
    width: 69%;
    display: flex;
    flex-flow: column nowrap;
    padding: 30px 1.5%;
    border-radius: 20px;
    
}
#hebergements .container{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

#hebergements a{
    width: 32%;
    
}

#hebergements article{
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    height:200px;
    margin-top: 25px;
    box-shadow: 0 0 10px #ccc;
}

#hebergements img{  
    width: 100%;
    height:150px;
    -o-object-fit: cover;
       object-fit: cover; 
    overflow: hidden; 
}

#hebergements .item-text{
    height:85px;
    padding: 8px 0 5px 0;
}

#hebergements h3{    
    margin: 0 5px;
}

#hebergements .subtitle{  
    margin: 4px 5px;  
}

#hebergements .note{
    margin: 0 5px;
}

#more-containt{    
    margin-top: 40px;
    font-size: var(--font-size-base);
    font-weight: bold;
}

/***   populaires   ***/

#populaires{
    background: var(--bg-grey);
    width:29%;
    display: flex;
    flex-flow: column nowrap;
    padding: 30px 1.5%;
    border-radius: 20px;
}

#populaires .container{
    display: flex;
    justify-content: space-between;
    flex-flow: column nowrap;
}

#populaires article{
    display: flex;
    flex-flow: row nowrap;
    height: 140px;
    margin-top: 25px;
    box-shadow: 0 0 10px #ccc;
}

#populaires img{
    height:100%;
    width: 40%;
    -o-object-fit: cover;
       object-fit: cover;
    overflow: hidden;
}


#populaires .item-text{
    height:100%;
    width: 60%;
    padding: 10px 10px;
}

#populaires .subtitle{
    margin: 6px 0;
}

/***   activites   ***/

#activites{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    margin: 30px 0;
}    
    
#activites .container{
    display: flex;
    align-content: space-between;
    justify-content: space-between;
    flex-flow: column wrap;
    height: 450px;
    width: 100%;
    margin-top: 25px;
}

#activites a{
    display: flex;
    align-content: flex-start;
    justify-content: flex-end;
    flex-flow: column nowrap;
    width: 100%;
    height: 100%;
}

#activites .item{
    display: flex;
    align-content: flex-start;
    justify-content: flex-end;
    flex-flow: column nowrap;
    width: 23%;
    border: none;
    box-shadow: 0 0 10px #ccc;
}

#activites .item:nth-of-type(1){
    height: 100%;
}

#activites .item:nth-of-type(2){
    height: 55%;
}

#activites .item:nth-of-type(3){
    height: 39%;
}

#activites .item:nth-of-type(4){
    height: 100%;
}

#activites .item:nth-of-type(5){
    height: 47%;
}

#activites .item:nth-of-type(6){
    height: 47%;
}

#activites .item div{
    height: 55px;
}

#activites .item img{
    height:100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    overflow: hidden;
}

#activites h3{
    margin: 18px;
}

/***   hover effect   ***/

nav li:hover{
    border-color: var(--main-blue);
    color: var(--main-blue);
}

.filter-item a:hover{
    color: var(--main-blue);
    box-shadow: 0 0 5px var(--main-blue);
}

#hebergements article:hover , #populaires article:hover , #activites article:hover{
    box-shadow: 0 0 5px var(--main-blue);
    color: var(--main-blue);
}

/*** active effect   ***/

.filter-item a:active{
    color: var(--main-blue);
    border-color: var(--main-blue);
}

.filter-item a:active i{
    color: #fff;
    background-color: var(--main-blue);
}

/***   footer   ***/

footer{
    display: flex;
    flex-direction: row;
    background-color: var(--bg-grey);
    padding: 30px;
    margin-top: 50px;
    height: auto;
}

.footer-title{
    margin-bottom:15px;
}

.footer-block{
    display: flex;
    flex-direction: column;
    width: 33.3%;
}

footer li{
    padding: 8px 0;
}




