/***   Tablet   ***/

@media (max-width: 992px){

    /***   General   ***/

    body{
        padding: 0;
        width: 100%;
    }

    h1, #filter, #info, #main-block, #activites, footer {
        width:100%;
        padding: 0 20px;
    }
    
    /***   header   ***/

    header{
    margin: 0;        
    flex-direction: column;
    height: 200px;
    width: 100%;
    justify-content: flex-end;

    }

    header #logo{
        margin: auto;
        width: auto;
        height: 75px;
    }

    nav{
        height: 70px;
        width: 100%;
        justify-content: center;
    }

    nav ul{
        width: 100%;
    }

    nav li{
        width:50%;
        border-top: none;
        border-bottom: 4px solid var(--bg-grey);
    }

    nav li a{
        width:auto;
    }

    h1{
        margin: 10px 0;
    }

    /***   Filtre   ***/

    #filter{
        padding: 0;
        margin-left: 0;
        margin-right: 0;
    }


    #info{
        margin-left: 0;
        margin-right: 0;
    }

    .filter-title{
        width:100%;
        padding:0;
    }

    /*** main   ***/

    #main-block {
        width: 100%;
        padding: 0;
        flex-flow: column nowrap;
    }

    /***   hebergements   ***/

    #hebergements{
        width: 100%;
        order: 2;
        padding: 30px 0;
        border-radius: 0;
        background: #fff;
    }

    #hebergements .item{
        width: 48%;
        height:200px;
        margin-top: 25px;
    }

    /***   populaires   ***/

    #populaires{
        width: 100%;
        order: 1;
        padding: 30px 2%;
    }

    /***   activites   ***/

    #activites{
        padding: 0;
    }

    #activites .item:nth-of-type(1n+0){
        width: 32%;
        height:210px;
    }
    
    /***   footer   ***/

    footer{
        padding: 30px;
        height: auto;
    }
}